.projectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 20%;
  padding-top: 5rem;

  .instructions {
    width: 100%;
  }

  ol {
    margin: 0 2rem;
    width: 100%;

    li {
      list-style-type: decimal;
      display: list-item;
      gap: 1rem;

      h4 {
        margin-bottom: 1rem
      }

      code {
        margin: 0 -2rem;
        display: block;
        width: 100%;
        color: white;
        padding: 1rem 1rem;
        font-size: calc(1em - 10%) !important;
        border-radius: 0.375rem;
        background-color: #2f333c;
        flex-wrap: wrap;
      }
    }
  }

  .author {
    width: 100%;
    margin: 5rem 0;
    border: solid 1px black;
    padding: 2rem;
    display: flex;
    gap: 5rem;
    box-shadow: 0px 28px 110px 0px rgba(10, 10, 14, 0.75);

    .content {
      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.25rem;
      }
    }

    aside {
      width: 40%;

      img {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .projectSection {
    margin: 0 10%;
    .author {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      aside {
        width: 70%;
      }

      img {
        width: 100%;
      }
    }
  }
}